html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  background: #F2F5F9;
  padding: 0;
  margin: 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  max-width: 340px;
  max-height: 100%;
  aspect-ratio: 55 / 85;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: 0.7s cubic-bezier(0.2, 0, 0.13, 1);
  transition: 0.7s cubic-bezier(0.2, 0, 0.13, 1);
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-animation: cardAppear 1s;
          animation: cardAppear 1s;
}

a {
  position: relative;
  display: inline;
  color: inherit;
  text-decoration: none;
  line-height: 1.4;
}

a::after {
  content: "";
  position: absolute;
  left: -4px;
  right: -4px;
  bottom: 1px;
  height: 8px;
  border-radius: 4px;
  z-index: -1;
  -webkit-transition: 0.2s cubic-bezier(0.2, 0, 0.13, 1);
  transition: 0.2s cubic-bezier(0.2, 0, 0.13, 1);
}

a.underline-pink::after {
  background: #FCEBED;
}

a.underline-blue::after {
  background: #E7FBFE;
}

a.underline-purple::after {
  background: #F2E8FB;
}

a:hover::after {
  height: calc(100% - 2px);
}

.side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: white;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.7s cubic-bezier(0.2, 0, 0.13, 1);
  transition: 0.7s cubic-bezier(0.2, 0, 0.13, 1);
}

.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 40px;
}

.front__name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.front__title {
  font-weight: 700;
}

.front__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.front__gradient {
  width: 100%;
  height: 33%;
  background-image: url("../img/mesh-gradient.png");
  background-size: cover;
}

.back {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: url("../img/mesh-gradient.png");
  background-size: cover;
}

.back__greeting {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  z-index: 0;
}

.back__greeting::after {
  content: "";
  position: absolute;
  top: -24px;
  left: -24px;
  right: -100vw;
  bottom: -24px;
  background: white;
  border-radius: 10px 0 0 10px;
  z-index: -1;
}

.hint {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: fadeIn 1s 0.5s backwards;
          animation: fadeIn 1s 0.5s backwards;
}

.hint--desktop {
  display: none;
}

@media screen and (min-width: 600px) {
  .hint--desktop {
    display: block;
  }
  .hint--mobile {
    display: none;
  }
}

.card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.1));
}

.card:hover .front {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card:hover .back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover ~ .hint {
  opacity: 0;
}

@-webkit-keyframes cardAppear {
  from {
    -webkit-transform: scale(0) rotate(-10deg) rotateX(60deg);
            transform: scale(0) rotate(-10deg) rotateX(60deg);
    opacity: 0;
  }
}

@keyframes cardAppear {
  from {
    -webkit-transform: scale(0) rotate(-10deg) rotateX(60deg);
            transform: scale(0) rotate(-10deg) rotateX(60deg);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */